.navbar {
  background-color: #FAFAFA !important;
  box-shadow: none !important;
  padding-left: 100px !important;
  padding-right: 100px !important;
  padding-top: 9.5px !important;
  padding-bottom: 9.5px !important;
  min-height: unset !important;
}

.centerdiv {
  /* border-radius: 100px !important; */
  /* background-color: #fafbff !important; */
  /* padding: 15px 30px !important; */
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 20px !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 0 !important;
  /* <-- Remove default 64px min-height */
}

.navbar-items {
  /* font-family: Roboto !important; */
  font-weight: 400 !important;
  font-style: Regular !important;
  font-size: 14px !important;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer !important;
  color: #727272 !important;
}

.navbar-items:hover {
  /* font-family: Roboto !important; */
  font-weight: 500 !important;
  color: #000 !important;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  color: black;
}

.logo-icon {
  width: 12px;
  height: 12px;
  background: black;
  /* simple black dot */
  border-radius: 50%;
  margin-right: 8px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.login-button {
  /* font-family: Poppins !important; */
  font-weight: 500;
  font-size: 14px;
  background: #ff5f1f !important;
  color: #ffffff !important;
  border-radius: 40px !important;
  height: 48px !important;
  width: 132px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
  box-shadow: none;
  border: none;
}
.login-button:hover{
    opacity: 0.8;
}
.drawer-list {
  width: 240px;
  padding: 16px;
  background-color: white;
}

@media (max-width: 1200px) {
  .navbar-items {
    font-size: 14px !important;
  }

  .centerdiv {
    gap: 20px !important;
  }
}

@media (max-width: 1200px) {
  .navbar-items {
    font-size: 13px !important;
  }

  .centerdiv {
    gap: 16px !important;
  }

  .navbar {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
}

@media (max-width: 1000px) {
  .navbar {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .logo-image {
    width: 150px;
    height: auto;
  }
}

@media (max-width: 460px) {
  .navbar {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
