@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-toastify/dist/ReactToastify.min.css";

@layer utilities {
  .select-black-placeholder .ant-select-selection-placeholder {
    @apply text-black;
  }

  .select-black-icon.ant-select .ant-select-arrow {
    @apply text-black;
  }
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

/* Scrollbar Styles - Light */

/* Firefox (all modes) */
* {
  scrollbar-width: thin;
  scrollbar-color: #4194b4 #ecf0f1;
}
.dark * {
  scrollbar-color: #096ad8 #1e293b;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
  background-color: transparent !important;
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Adjust how far you want it to move */
  }
}

.animate-slide {
  animation: slide-left 60s linear infinite;
}
.testimonial-slide {
  animation: slide-left 60s linear infinite;
}
@keyframes slide-right {
  0% {
    transform: translateX(-50%); /* Start at the duplicate set */
  }
  100% {
    transform: translateX(0); /* Move rightward to original set */
  }
}

.animatedd-slide {
  animation: slide-right 80s linear infinite;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/font/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 500px) {
  .timeLineimages{
    max-width: 100% !important;
    height: 250px !important;
  }}
@media (max-width: 450px) {
  .flex-col-450 {
    flex-direction: column !important;
  }
  .hero-font {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 850px) {
  .definedcolDir {
    flex-direction: column !important;
  }
  .contact-box {
    max-width: 100% !important;
    gap: 20px !important;
  }
}
@media (max-width: 960px) {
  .definedNinecol {
    flex-direction: column !important;
    gap: 15px !important;
  }
  .containerSixefixed {
    max-width: 100% !important;
    height: 350px !important;
  }
}
@media (max-width: 900px) {
  .project-slider-image {
    height: 280px;
  }

  .project-slider-image.wide {
    width: 430px;
  }
}

@media (max-width: 600px) {
  .project-slider-image {
    height: 220px;
  }

  .project-slider-image.wide {
    width: 380px;
  }

  .project-slider-image.narrow {
    width: 120px;
  }
}
@media (max-width: 400px) {
  .project-slider-image {
    height: 180px;
  }

  .project-slider-image.wide {
    width: 330px;
  }

  .project-slider-image.narrow {
    width: 90px;
  }
}